<nav class="toolbar">
<h1 class="cen">சத்தியமங்கலம்
  மலர் விலை பட்டியல்</h1>
  <h1>{{date|date}}</h1>
</nav>
<br>
<br>
<table class="tab">
  <thead >
    <tr >
      <th >
        பூக்களின் பெயர்கள்</th><th >விலைப்பட்டியல்</th>
    </tr>
    <tr>
      <th></th><td>ரூபாய் / கிலோ</td>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  >சம்பங்கி</td>
      <td >40</td>
     
    </tr><br>
    <tr >
      <td  >முல்லை பூ </td>
      <td >500/580</td>
     
    </tr><br>
    <tr >
      <td  >மல்லி பூ</td>
      <td >700/1050</td>
     
    </tr><br>
    <tr >
      <td  >
        செண்டு பூ</td>
      <td >12/47</td>
     
    </tr><br>
    <tr >
      <td  >காக்கடா</td>
      <td >425/500</td>
     
    </tr><br>
    <tr>
      <td>ஜாதி மல்லி பூ </td>
      <td>500/500</td>
    </tr><br>
    <tr >
      <td  >கணகாபரம்</td>
      <td >600/650</td>
     
    </tr><br>
     <tr >
      <td  >பட்டு  பூ </td>
      <td >19/58
      </td>
     
    </tr><br>
  </tbody>
</table><br><br>
<p class="si">குறிப்பு:: இன்று விலைகள் புதுப்பிக்கப்பட்டன <br>
  தினசரி 11 மணிக்கு விலைகள் புதுப்பிக்கப்படும்
</p>
<!-- <p class="si">குறிப்பு::விலைகள் இன்னும் புதுப்பிக்கப்படவில்லை</p> -->
<my-foot></my-foot>