<nav class="toolbar">
<h1 class="cen">சத்தியமங்கலம்
  மலர் விலை பட்டியல்</h1>
  <h1 >{{date|date}}</h1>
</nav>
<table class="tab">
  <thead >
    <tr >
      <th >
        பூக்களின் பெயர்கள்</th><th >விலைப்பட்டியல்</th>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  >சம்பங்கி</td>
      <td >140</td>
     
    </tr><br>
    <tr >
      <td  >அந்தூரியம்</td>
      <td >140</td>
     
    </tr><br>
    <tr >
      <td  >மல்லி பூ</td>
      <td >200</td>
     
    </tr><br>
    <tr >
      <td  >
        செண்டு பூ</td>
      <td >60</td>
     
    </tr><br>
    <tr >
      <td  >ரோஜா</td>
      <td >200</td>
     
    </tr><br>
  </tbody>
</table>
<p>குறிப்பு:: இன்று விலைகள் புதுப்பிக்கப்பட்டன</p>
<my-foot></my-foot>