<nav class="toolbar">
<h1>சத்தியமங்கலம்
  மலர் விலை பட்டியல்</h1>
</nav>
<table class="tab">
  <thead >
    <tr >
      <th >
        பூக்களின் பெயர்கள்</th><th >விலைப்பட்டியல்</th>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  >சம்பங்கி</td>
      <td >140</td>
     
    </tr><br>
    <tr >
      <td  >அந்தூரியம்</td>
      <td >100</td>
     
    </tr><br>
    <tr >
      <td  >மல்லி பூ</td>
      <td >200</td>
     
    </tr><br>
    <tr >
      <td  >
        சமந்தி பூ</td>
      <td >800</td>
     
    </tr><br>
    <tr >
      <td  >ரோஜா</td>
      <td >120</td>
     
    </tr><br>
    <tr >
      <td  >செண்டு பூ</td>
      <td >50</td>
     
    </tr>
  </tbody>
</table>
<nav class="taskbar">
  <div  class="lef">
    <h4>Our Address</h4>
    <address style="font-size: 80%">
      121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> PERIYAKULAM<br>
      <i class="fa fa-phone"></i>: 8489915880<br>
      <i class="fa fa-fax"></i>: +852 8765 4321<br>
      <i class="fa fa-envelope"></i>:
      <a href="mailto:dinisellaan@gmail.com">dinisellappan@gmail.com</a>
    </address>
  </div>
    <div>
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
</nav>