p{
  font-family: Lato;
}
.toolbar{
    background-color:violet;
    font-size: 25px;
    height: fit-content;
    width: 100%;
    color:black;
     text-align: center;
}

.tbor{
    border: violet;
    border-radius: 2px;
}
.col{
    background-color: yellowgreen;
}
.tab{
  text-align: center;
  font-size: 50px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.lefu{
  top: 0px;
  float:right;
}
.div{
   box-sizing: content-box;  
  width: 600px;
  height: 200px;
  padding: 30px;  
  border: 1px solid blue;
}
.add{
    position: absolute;
    top:520px;
    left: 10px;
    background-color: hotpink;
    height: 450px;
    width: 900px;
}
.cen{
  text-align: center;
}
.si{
 font-size: 25px;
}