p {
  font-family: Lato;
}
.toolbar{
    background-color:violet;
    height: 120px;
    width: 100%;
    color:black;
    text-align: center;
}
.tab{
    text-align: center;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.add{
    position: absolute;
    top:60px;
    left: 600px;
    background-color: hotpink;
    height: 450px;
    width: 900px;
}