<div class="news">

</div>
<nav class=" container taskbar">
  <div  class="lef">
    <h4>Our Address</h4>
    <address style="font-size: 80%">
      flowergarden<br>  PERIYAKULAM<br>
      <i class="fa fa-phone"></i>: 848978945<br>
      <i class="fa fa-fax"></i>: +852 8765 4321<br>
      <i class="fa fa-envelope"></i>Contact Me:
      <a href="mailto:dheena5880@gmail.com">Contact@gmail.com</a>
    </address>
    </div>
    <div>
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  <div class="cen">
  <p>© Copyright 2020 flowergarden</p>
  </div>
      </nav>