<div class="news"  >
  <div class="new">
    <h1 >Intresting News</h1>
    <ol>
      <li><h3>Jupiter and Saturn will be so close that they will appear to form a "double planet." </h3></li>
      <li><h3>Angular Latest Version is 11 </h3></li>
    </ol>
    
     <div class="vdo">
       <h1 style="color:red">LIVE NEWS</h1>
     <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player>
     </div>
    </div>
</div>
<nav class=" container taskbar">
  <div  class="lef">
    <h4>Our Address</h4>
    <address style="font-size: 80%">
      flowergarden<br>  PERIYAKULAM<br>
      <i class="fa fa-phone"></i>: 848978945<br>
      <i class="fa fa-fax"></i>: +852 8765 4321<br>
      <i class="fa fa-envelope"></i>Contact Me:
      <a href="mailto:dheena5880@gmail.com">Contact@gmail.com</a>
    </address>
    </div>
  <div class="cen">
  <p>© Copyright 2020 flowergarden</p>
  </div>
      </nav>