.taskbar{
    position: absolute;
    font-size: 35px;
    background-color:violet;
    height: 400px;
    width: 100%;
}
.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus {color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube {color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin {color:#fff!important;background-color:#007bb6!important;}
.btn-twitter {color:#fff!important;background-color:#55acee!important;}
.btn-mail {color:#fff!important;background-color:#512DA8!important;}
.news{
   box-sizing: content-box;  
  width: 100%;
  height: 800px;
  border: 1px solid blue;
  background-color:lightslategray;
  background-image: url(https://i0.wp.com/www.additudemag.com/wp-content/uploads/2020/06/summer-plans-GettyImages-505125698.jpg);
  background-size: 100%;
  background-position: relative;
}