<div class="news"  >
  <div class="new">
    <h1 >Intresting News</h1>

    </div>
</div>
<nav class=" container taskbar">
  <div  class="lef">
    <h4>Our Address</h4>
    <address style="font-size: 80%">
      flowergarden<br>  PERIYAKULAM<br>
      <i class="fa fa-phone"></i>: 848978945<br>
      <i class="fa fa-fax"></i>: +852 8765 4321<br>
      <i class="fa fa-envelope"></i>Contact Me:
      <a href="mailto:dheena5880@gmail.com">Contact@gmail.com</a>
    </address>
    </div>
  <div class="cen">
  <p>© Copyright 2020 flowergarden</p>
  </div>
      </nav>