.prim{
  color: black;
  padding: 20px;
}
.mat-sidenav-container{
  height: 100%;
}
.mat-sidenav,mat-sidenav-content{
  padding: 16px;
}
.mat-sidenav{
  background-color:gainsboro;
  width:200px ;
}
.hidden{
  display: none;
}
.spacer{
  flex:1 1 auto;
}
.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

 @media (min-width:400px){
  .mat-sidenav{
    display:none;
  }
}
@media(max-width:400px){
  
.tol{
  display: none;
}
.button{
  text-align: center;
  font-size: 20px;
}
}
.sid{
  margin: 20px;
  padding: 2px;
}
a:hover{
  font-size: 30px;
}
a:active{
  color:green;
}
p{
  font-family: Lato;
}
.toolbar{
    background-color:violet;
    font-size: 25px;
    height: 120px;
    width: 100%;
    color:black;
    text-align: center;
}

.tbor{
    border: violet;
    border-radius: 2px;
}
.col{
    background-color: yellowgreen;
}
.tab{
  width: 100%;
  text-align: center;
  font-size: 50px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-color: lightgreen;
}
.lefu{
  float:right;
}
.div{
   box-sizing: content-box;  
  width: 100%;
  height: 200px; 
  border: 1px solid blue;
  background-color: lightseagreen;
}
.back{
   box-sizing: content-box;  
  width: 100%;
  height: 200px;
  border: 1px solid blue;
  background-color: yellow;
}
.add{
    position: absolute;
    top:520px;
    left: 10px;
    background-color: hotpink;
    height: 450px;
    width: 900px;
}
.cen{
  text-align: center;
}
.si{
 font-size: 25px;
}
.news{
   box-sizing: content-box;  
  width: 100%;
  height: 800px;
  border: 1px solid blue;
  background-color:lightslategray;
  background-image: url(https://images.all-free-download.com/images/graphiclarge/spellbook_03_hd_pictures_168366.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
}
.new{
  color: rgb(231, 220, 220);
}
.vdo{
  float: right;
}
.tut{
  right: 200px;
}