<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened>sidenav</mat-sidenav>
    <mat-sidenav-content>
      home  <button (click)="opened=!opened">toogle</button> -->
    
  
  
  
  <nav class="toolbar">
<h1 class="cen">சத்தியமங்கலம்
  மலர் விலை பட்டியல்</h1>
  <h1>{{date|date}}</h1>
</nav>
<table class="tab">
  <thead >
    <tr >
      <th >
        பூக்களின் பெயர்கள்</th><th >விலைப்பட்டியல்</th>
    </tr>
    <tr>
      <th></th><td>ரூபாய் / கிலோ</td>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  >சம்பங்கி</td>
      <td >50</td>
     
    </tr><br>
    <tr >
      <td  >முல்லை பூ </td>
      <td >540/620</td>
     
    </tr><br>
    <tr >
      <td  >மல்லி பூ</td>
      <td >875/1505<td>
     
    </tr><br>
    <tr >
      <td  >
        செண்டு பூ</td>
      <td >21/85</td>
     
    </tr><br>
    <tr >
      <td  >காக்கடா</td>
      <td >430/500</td>
     
    </tr><br>
    <tr>
      <td>ஜாதி மல்லி பூ </td>
      <td>500/650</td>
    </tr><br>
    <tr >
      <td  >கணகாபரம்</td>
      <td >550/800</td>
     
    </tr><br>
     <tr >
      <td  >பட்டு  பூ </td>
      <td >15/51
      </td>
     
    </tr><br>
  </tbody>
</table><br><br>
<p class="si">குறிப்பு:: விலைகள்  புதுப்பிக்கப்பட்டது<br>
  தினசரி 11 மணிக்கு விலைகள் புதுப்பிக்கப்படும்
</p>
<div class="div">
  <table><tr><td>
   <img height="200" width="300"src="https://1.bp.blogspot.com/-_jb0CanxR9U/X66zCWMN-LI/AAAAAAAAGF0/RnmQ87ti3o4zBg4yd_2YLqIzLcc0hPcSgCLcBGAsYHQ/s320/IMG_20201113_131004_737.jpg" alt=""></td>
   <td>
   <div class="tut">
   <h1>To LEARN JAVASCRIPT</h1>
   <H2>  <a href="https://dharanidharan17e109.github.io/">learn to code your own page</a></H2></div></td>
   <td>
   <div class="lefu">
   <marquee><h3>visit my blog naturalphotography</h3></marquee>
   <h2> <a href="https://naturalpicsdinesh.blogspot.com/">CLICK HERE</a>  </h2>
   </div></td></tr>
   </table>
</div>

<div class="back">
  <h2>மஞ்சள் விலையை அறிய</h2>
  <a href="https://www.mserode.com/">மஞ்சள் விலை</a>
</div>
<!-- <p class="si">குறிப்பு::விலைகள் இன்னும் புதுப்பிக்கப்படவில்லை</p> -->
<div class="news"  >
  <div class="new">
    <h1 >Intresting News</h1>
    <ol>
      <li><h3>Jupiter and Saturn will be so close that they will appear to form a "double planet." </h3></li>
      <li><h3>Angular Latest Version is 11 </h3></li>
    </ol>
    
     <div class="vdo">
       <h1 style="color:red">LIVE NEWS</h1>
     <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player>
     </div>
    </div>
</div>
<!-- </mat-sidenav-content>
 
</mat-sidenav-container> -->