<mat-toolbar class="prim">
    <span><img src="https://media.istockphoto.com/photos/indian-farmer-at-onion-field-picture-id1092520698?k=6&m=1092520698&s=612x612&w=0&h=aOMSDBVxw3Hg3CckJvZIs6q82WOaxR82zW3y1fPqmBc=" height=100 width=100></span>
    <a  mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink="/Vedios"routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a>
    <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
  
  </mat-toolbar>