<table class="tab">
  <thead >
    <tr >
     <h1>latest news about tech</h1>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
     <td><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player> </td>
     <td><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
      <td > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
     
    </tr><br>
    <tr >
      <td  >
        <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
      <td ><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
     
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
      <td ><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
     
    </tr><br>
    <tr>
      <td> <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player> </td>
      <td><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
      <td ><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player></td>
     
    </tr><br>
     <tr >
      <td  > <youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player> </td>
      <td ><youtube-player 
  videoId="Vq-9xWMiiVQ" >
</youtube-player>
      </td>
     
    </tr><br>
  </tbody>
</table>