<table class="tab">
  <thead >
    <tr colsspan="2">
     <h1 class="las">latest news about tech</h1>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  > <youtube-player 
  videoId="u3S65SnyFO0" >
</youtube-player></td>
     <td><youtube-player 
  videoId="Dc-Qe1HfBTg" >
</youtube-player></td>
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="KANAkI291Ac" >
</youtube-player> </td>
     <td><youtube-player 
  videoId="KAV0w-UIobI" >
</youtube-player></td>
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="ez0_t22eTIM" >
</youtube-player></td>
      <td > <youtube-player 
  videoId="Qmla9NLFBvU" >
</youtube-player></td>
     
    </tr><br>
    <tr >
      <td  >
        <youtube-player 
  videoId="NTBCXa0GDow" >
</youtube-player></td>
      <td ><youtube-player 
  videoId="6BxY_vTpTgc" >
</youtube-player></td>
     
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="9Xvexzk7E3I" >
</youtube-player></td>
      <td ><youtube-player 
  videoId="d5PTKHRw2FQ" >
</youtube-player></td>
     
    </tr><br>
    <tr>
      <td> <youtube-player 
  videoId="zO7pcDdXcBg" >
</youtube-player> </td>
      <td><youtube-player 
  videoId="ysXeIdQCxLY" >
</youtube-player></td>
    </tr><br>
    <tr >
      <td  > <youtube-player 
  videoId="K14uLTE2Yps" >
</youtube-player></td>
      <td ><youtube-player 
  videoId="0x591KdZluQ" >
</youtube-player></td>
     
    </tr><br>
     <tr >
      <td  > <youtube-player 
  videoId="qw_sTOxClv0" >
</youtube-player> </td>
      <td ><youtube-player 
  videoId="AIC5hTWGylM" >
</youtube-player>
      </td>
     
    </tr><br>
  </tbody>
</table>